%footer.branding
  %p
    Powered by Nesta, a
    = succeed "." do
      %a(href="http://nestacms.com") Ruby CMS
%script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
%script(type="text/javascript" src="http://github.com/balupton/jquery-syntaxhighlighter/raw/master/scripts/jquery.syntaxhighlighter.min.js")
%script(type="text/javascript")
  :plain
    $("pre > code").addClass("highlight");
    $.SyntaxHighlighter.init({
      lineNumbers: false,
      wrapLines: false
    });     
