%meta(charset="utf-8")
%title= @title
- if @description
  %meta(name="description" content=@description)
- if @keywords
  %meta(name="keywords" content=@keywords)
-# 
  Always force latest IE rendering engine (even in intranet) & Chrome Frame
  Remove this if you use the .htaccess
%meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }/

-# Mobile viewport optimized: j.mp/bplateviewport
%meta{ :content => "width=device-width, initial-scale=1.0", :name => "viewport" }/

-# Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references
-# %link{ :href => "/favicon.ico", :rel => "shortcut icon" }/
-# %link{ :href => "/apple-touch-icon.png", :rel => "apple-touch-icon" }/

= stylesheet_link_tag "screen"
= stylesheet_link_tag "print", :media => "print"
= javascript_include_tag "modernizr.min"
%link(href="/articles.xml" rel="alternate" type="application/atom+xml")
