= javascript_include_tag "ender.min"
:plain
  <script type="text/javascript">
    $.script('/javascripts/prettify/prettify.js', 'prettify'); 
    $.script('/javascripts/crnixon.js');
  </script>
= partial :analytics
