#content
  %section(role="main")
    %h1 Page not found

    %p
      Please try another page or, if you think something is wrong with
      our site, do 
      %a(href="mailto:crnixon@crnixon.com") get in touch 
      and let us know.
