$base-color: #262631;
$background-color: white;
$tint: #eaf4f7;
$border-color: #71adce;
$link-color: #006dd1;
$visited-link-color: darken($link-color, 5%);
$hover-link-color: lighten($link-color, 15%);
$active-link-color: darken($link-color, 20%);
$nav-link-color: desaturate(lighten($link-color, 25%), 35%);
$meta-color: #87877d;
