title: Clinton R. Nixon - Web Application Development &amp; Training
heading: Welcome

%section.introduction
  %h1#mission-statement
    I’m Clinton R. Nixon, and my mission is to help world-changing organizations build high quality, effective, maintainable web applications.
  :markdown
    ## History

    I have worked for over 12 years in all levels of software development, from programming for [startup companies](http://www.lulu.com) to directing a team of developers for [a high-profile web consulting firm](http://viget.com). In 2011, I started my own company to address a need I observed. Non-profit and progressive organizations too often choose overly-complex or poor-quality technologies because of a lack of budget or technical expertise. I wanted to make awesome web development more accessible to the non-profit world.

    ## Rates

    My published hourly rate for standard work is $150, but my rate for non-profits and progressive causes is $100 to $125 per hour. I am dedicated to helping causes I care about, so please contact me to discuss a rate that works for both of us.

    ## Specialities

    I build web systems that allow you to manage content on your own while providing an easy-to-use experience for your users. I specialize in building simple, accessible web applications that can work with everything from cutting-edge web browsers to simple technologies in resource-poor settings.

    I generally build applications with the Ruby on Rails web framework. However, I have wide experience with multiple languages such as Scala and Node.js and will choose the right technology for your specific needs.

    I enjoy inheriting existing systems that could use improvement and solving ongoing problems.

    I maintain a network of other freelancers to help with work outside of my specialities and to handle overflow needs.

    ## Philosophy

    I believe that the most efficient way to achieve the highest quality software development is through small, focused, agile teams. To keep overhead costs low, I will work directly with your team to understand your software needs and get your continual feedback. My radical approach to software development is direct, collaborative, and requires buy-in from all stakeholders. Together, we will change the world.


